<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="js/login.js"></script>
    </head>
    <body ng-app="myapp">
        <div  ng-controller="Democontroller">
            Enter Username:<input type="text" ng-model="username"/></br>
            Enter Password:<input type="password" ng-model="password"/></br>0-
            <input type="button" ng-click="f1()" value="login">
        </br>
         <span>{{message}}</span>
        </div>
    </body>
</html>


 


 
